input[type="button"] {
            font: 15px notosans-bold, sans-serif;
            height: auto;
            padding: 4px;
            margin:0;
            display:initial;
}
input[type="text"] {
    font: 12px notosans-bold, sans-serif;
    height: auto;
    padding: 0px;
    display: initial;
    margin:0px;
    min-width:15px;
    width:35px;
    height:20px;
    vertical-align:middle;
    text-align:center;
}
        
.columnaDerecha{
    text-align:left;
}

.columnaDerecha span{
    margin:0px 2px 0px 3px;
}
.columnaIzquierda {
    text-align:right;
}

.columnaIzquierda span{
    margin:0px 2px 0px 3px;
}

span.error{
    color:Red;
}

